<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsJ7mxyDm1SSCGl8YrygZ3qZraa6qz6Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>1057954899261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.priyanshukumar.rove</string>
	<key>PROJECT_ID</key>
	<string>rove-28209</string>
	<key>STORAGE_BUCKET</key>
	<string>rove-28209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057954899261:ios:beb27a4d8a102cba0d9154</string>
</dict>
</plist>